
@{
    ViewBag.Title = "Index";

}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Convert</h1>
    <p class="lead">Convert the files from PDF to Word, txt. or other file contexts with our new Convert Factory </p>
</div>

