
@{
    ViewBag.Title = "Pdf_to_word";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pdf to word</h2>

<div class="btn">
    @using (Html.BeginForm("pdf_to_word", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" id="pdfFile"/>
        <button type="submit">Convert to Word</button>
    }
</div>

<script>
    $(document).ready(function () {
        $("#convertButton").click(function () {
            var formData = new FormData();
            var fileInput = document.getElementById("pdfFile");
            formData.append("file", fileInput.files[0]);

            $.ajax({
                url: "/Home/word_to_pdf",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    var downloadLink = document.createElement("a");
                    downloadLink.href = URL.createObjectURL(result);
                    downloadLink.download = "convertedFile.docx";
                    downloadLink.click();
                }
            });
        });






